.image-row {
  display: flex;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.image-container {
  overflow: hidden;
}

.pengsu_image {
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
}

.pengsu_image:hover {
  transform: scale(1.25);
}

.more {
  display: flex;
  width: 100%;
  height: 100px;
  color: white;
  background-color: #001229;
  text-decoration: underline;
  font-size: 1.7em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  justify-content: center;
  align-items: center;
}
