a {
  text-decoration: none;
  color: white;
}

.title-nav {
  margin: 0 35px;
  font-size: 1.4em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.emphasize {
  background-color: white;
  border-radius: 30px;
  padding: 10px 20px;
  color: #001229;
}
